{% extends "tasks/base.html" %} {% block title %}Editar Tarea {% endblock %} {% block content %}
<div class="bg-white p-6 rounded-lg shadow-md max-w-lg mx-auto">
  {# Contenedor centrado #}
  <h2 class="text-2xl font-bold text-gray-800 mb-4">Editando Tarea</h2>

  <form method="POST" class="space-y-4">
    {% csrf_token %}
    <div>
      <label
        for="{{ form.nombre.id_for_label }}"
        class="block mb-2 text-sm font-medium text-gray-900"
        >{{ form.nombre.label }}</label
      >
      {{ form.nombre }} {% for error in form.nombre.errors %}
      <p class="mt-2 text-sm text-red-600">{{ error }}</p>
      {% endfor %}
    </div>

    {# Campo Prioridad #}
    <div>
      <label for="{{ form.prioridad.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">
        {{ form.prioridad.label }}
      </label>
      {{ form.prioridad }} {% for error in form.prioridad.errors %}
      <p class="mt-2 text-sm text-red-600">{{ error }}</p>
      {% endfor %}
    </div>

    {# Campo Completo #}
    <div class="flex items-center">
      {{ form.completo }}
      <label
        for="{{ form.completo.id_for_label }}"
        class="ms-3 text-sm font-medium text-gray-900"
        >{{ form.completo.label }}</label
      >
      {% for error in form.completo.errors %}
      <p class="ms-3 mt-2 text-sm text-red-600">{{ error }}</p>
      {% endfor %}
    </div>

    {# Botones de Acción #}
    <div class="flex items-center gap-4 pt-4 border-t mt-4">
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5"
      >
        Guardar Cambios
      </button>
      <a
        href="{% url 'datatodo' %}"
        class="font-medium text-gray-600 hover:underline"
      >
        Cancelar
      </a>
    </div>
  </form>
</div>
{% endblock %}
